



<% @posts.each do |post| %>
<div class="large-4 medium-3 small-1 columns">
 <%= image_tag(post.post_url) if post.post? %>
  <h2><%= link_to post.title, post %></h2>
  <p>
    <%= time_ago_in_words post.created_at %> ago
  </p>
  <img src="assets/good_mark.png"><span class='count'>34</span>
  <img src="assets/bad_mark.png">
  </div>
<% end %>


<%if current_user && current_user.role_id==1%>
  <p>
    <%= link_to "New post" , new_post_path ,class: 'button'%>
  </p>
<%end%>